<%= render 'shared/logout_button' %>

<h1>Admin Dashboard</h1>

<p><%= link_to "Pending Users", admin_pending_path %></p>
<p><%= link_to "Items", admin_items_path %></p>

<p>Welcome to the admin dashboard!</p>





