<h1><%= @item.item_name %></h1>

<p><strong>Description:</strong> <%= @item.item_description %></p>

<p><strong>Price:</strong> $<%= @item.price %></p>

<%= link_to 'Back to Home', root_path, class: 'btn btn-secondary' %>
