@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* .quicksand-<uniquifier> {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

* {
   padding: 0;
   margin: 0;
   font-family: "Quicksand", sans-serif;
   font-style: normal;
}

body {
   background-color: rgb(235, 235, 235);
}

input:focus {
   outline: none; /* Remove default outline */
   border: 2px solid #5802a8; /* Add a custom border */
   box-shadow: 0 0 5px #2a0253; /* Optional: Add a shadow */
}

button {
   cursor: pointer;
}

input[type="submit"] {
   padding-inline: 1rem;
   padding-block: 0.5rem;
   border: none;
   background-color: rgb(17 24 39);
   color: white;
   font-size: 1rem;
   border-radius: 0.2rem;
}

input[type="submit"]:hover {
   cursor: pointer;
   background-color: rgb(3 7 18);
}

.admin-header {
   width: 100%;
   text-align: center;
}

.admin-container {
   display: flex;
   width: 100%;
}

.admin-sidebar {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #bb3453;
   padding-block: 0.5rem;
   min-width: 13rem;
   font-weight: bolder;
   height: 100%;
   z-index: 999;
   top: 0;
}

.admin-sidebar a {
   display: block;
   padding-left: 2rem;
   padding-block: 1rem;
   text-decoration: none;
   color: #ffff;
   width: 100%;
}

.admin-sidebar button {
   border: hidden;
   background: transparent;
   padding-left: 2rem;
   padding-block: 1rem;
   color: #ffff;
   font-weight: bolder;
   width: 100%;
   text-align: left;
   font-size: 1rem;
   border-radius: 0%;
}

.admin-sidebar p:hover,
.admin-sidebar button:hover,
.admin-sidebar p a:hover {
   background-color: #161616;
   cursor: pointer;
}

.admin-sidebar-content {
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 13rem;
   width: calc(100% - 13rem);
   height: 100%;
   background-color: #161616;
   color: #ffffff;
   top: 0;
}

.items-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 70%;
   row-gap: 4rem;
   justify-items: center;
}

.items-container2,
.users-container2 {
   background-color: rgb(31 41 55);
   padding: 2rem;
   font-size: 1.2rem;
   width: 20rem;
}

.admin-sidebar-content input[type="text"],
.admin-sidebar-content input[type="number"],
.admin-sidebar-content input[type="email"],
.admin-sidebar-content input[type="password"] {
   width: 100%;
   font-size: 1.3rem;
   padding-block: 0.5rem;
   background-color: #181818;
   border: none;
   color: white;
   margin-bottom: 1rem;
}

.item {
   margin-bottom: 3rem;
   padding: 1rem;
   height: 10rem;
}

.item-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: whitesmoke;
   background-color: #5f1829;
   padding-inline: 1rem;
   padding-block: 0.5rem;
   width: 20rem;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
}

.item-title button {
   background-color: rgb(219, 64, 64);
   color: white;
   padding: 0.3rem;
   padding-inline: 0.5rem;
   border: hidden;
   width: 5rem;
   border-radius: 0.2rem;
   font-weight: bolder;
   font-size: 0.9rem;
}

.item-title button:hover {
   background-color: rgb(138, 38, 38);
}

.item-title a {
   display: block;
   background-color: rgb(49, 49, 247);
   color: white;
   padding: 0.1rem;
   padding-inline: 0.5rem;
   border: hidden;
   font-weight: normal;
   font-size: 0.9rem;
   text-align: center;
   text-decoration: none;
   border-radius: 0.2rem;
   margin-bottom: 0.5rem;
   font-weight: bolder;
}

.item-title a:hover {
   background-color: rgb(33, 33, 176);
}

.item-content {
   display: block;
   background-color: #232323;
   width: 20rem;
   height: auto;
   padding: 1rem;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
}

.item-buttons {
   display: flex;
   justify-content: center;
   text-align: center;
}

.item-buttons a {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-decoration: none;
   width: 100%;
   background-color: rgb(31 41 55);
   padding-block: 0.5rem;
   width: 7rem;
   font-size: 1rem;
   border-radius: 0.5rem;
   font-weight: bolder;
   border: none;
}

.item-buttons a:hover {
   background-color: rgb(17 24 39);
}

.item-buttons2 {
   display: flex;
   justify-content: center;
   text-align: center;
}

.item-buttons2 a {
   color: rgb(156 163 175);
   text-decoration: underline;
   width: 100%;
   padding-block: 0.5rem;
   font-size: 1rem;
   border-radius: 0.5rem;
   font-weight: bolder;
   border: none;
}

.item-buttons2 a:hover {
   color: white;
}

.content-title {
   display: flex;
   justify-content: space-between;
   margin-inline: 2rem;
   margin-top: 1rem;
   padding-block: 0.5rem;
}

.content-title2 {
   display: flex;
   flex-direction: column;
   align-items: start;
   margin-inline: 2rem;
   margin-top: 1rem;
   padding-block: 0.5rem;
}

.current-page {
   background-color: #161616;
}

.primary {
   color: #bb3453;
}

.close-button-container {
   text-align: right;
   width: 100%;
}

.close-button {
   background-color: transparent;
   color: red;
   border: hidden;
   font-size: 2rem;
   font-weight: bolder;
}

.content-header {
   align-self: start;
   justify-content: space-between;
   width: 100%;
}

.submit-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.users-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.users-container table {
   width: 80%;
   text-align: center;
   border-collapse: collapse;
}

.users-container table td {
   background-color: #232323;
   border: none;
   padding-block: 1rem;
   margin-bottom: 3rem;
}

.users-container table button {
   border: none;
   background-color: rgb(219, 64, 64);
   color: white;
   padding-inline: 1rem;
   padding-block: 0.4rem;
   margin-top: 1rem;
   font-size: 0.8em;
   width: 5rem;
   font-weight: bolder;
}

.users-container table a {
   display: inline-block;
   border: none;
   text-decoration: none;
   background-color: rgb(49, 49, 247);
   color: white;
   padding-inline: 1rem;
   padding-block: 0.4rem;
   font-size: 0.8em;
   width: 5rem;
   font-weight: bolder;
}

.users-container table a:hover {
   background-color: rgb(33, 33, 176);
}

.users-container table button:hover {
   background-color: rgb(138, 38, 38);
}

.table-row-gap {
   background: none !important;
   padding-block: 1rem;
}

.notice {
   font-size: 1rem;
   color: rgb(251, 181, 101);
}
